#lights {
    display: flex;
    justify-content: space-between;
    margin: 25px auto;
}

.card {
    width: 100%;
}

#card-wrapper{
    margin: 20px auto;
}

.material-icons {
    color: gray;
    font-size: 2.5em;
}

.checked:after {
    content: 'radio_button_checked';
    color: #3f51b5;
}

.unchecked:after {
    content: 'radio_button_unchecked'
}

.mat-stroked-button{
    padding: 10px 0;
}

button:disabled{
    opacity: 1;
}