<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item">123</li>
      <li class="list-group-item">123</li>
      <li class="list-group-item">123</li>
      <li class="list-group-item">123</li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="card col-sm-10 col-md-8 col-lg-6 m-auto">
      <div *ngIf="noMore">
        <h1>!!!</h1>
      </div>
      <div class="card-body text-center" *ngIf="!noMore"><h1>{{current.text}}</h1></div>
      <div id="btn-wrapper" class="row">
        <input type="button" (click)="artikelBtnClick($event)" value="DER" class="btn btn-outlined btn-lg col-md-2">
        <input type="button" (click)="artikelBtnClick($event)" value="DIE" class="btn btn-outlined btn-lg col-md-2">
        <input type="button" (click)="artikelBtnClick($event)" value="DAS" class="btn btn-outlined btn-lg col-md-2">
      </div>
    </div>
    <span>{{counter}}/3</span>
  </div>
</div>
