<div class="row">
  <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10" id="card-wrapper">
    <mat-card class="card">
      <mat-card-content *ngIf="noMore; else card" class="text-center">
        <h1>You have done it. Good job</h1>
      </mat-card-content>
      <ng-template #card>
          <mat-card-content class="text-center">
              <h1 *ngIf="loaded"><span *ngIf="showArtikel">{{getArtikel(current.artikel)}}</span> {{current.text}}</h1>
              <div id="lights" class="col-lg-6 col-md-8 col-sm-8">
                <i *ngFor="let flag of answerFlags" 
                class="material-icons {{flag ? 'checked' : 'unchecked'}}" >
                </i>
              </div>
              <div id="btn-wrapper">
                  <button
                  class="col-3"
                  *ngFor="let artkl of artikelKeys" 
                  (click)="buttons[artkl].isDisabled ? '' : artikelBtnClick(buttons[artkl].id)" 
                  [color]="buttons[artkl].isWrong ? 'warn' : ''" 
                  mat-stroked-button>
                  {{buttons[artkl].text}}
                </button>
              </div>
          </mat-card-content>
      </ng-template>
      <mat-progress-bar [mode]="determinate" [value]="counter === 0 ? 0 : 100 * (counter/len)"></mat-progress-bar>
    </mat-card>
  </div>
</div>