@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  margin: 0;
}

.row {
  margin: 0;
}

#btn-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.mat-stroked-button:focus {
  outline: none;
}

.mat-list {
  border: 1px solid rgba(0,0,0,.125);
}

.mat-list-item:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.125);
}

/* .material-icons {
  font-size: 3em;
  color: green;
}


* {
  box-shadow: none !important;
} */